@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.mapboxgl-map {
  width: 100%;
  height: 100%;
}

/* Custom styles for mobile-like appearance */
@media (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
  }

  main {
    width: 390px !important;
    height: 844px !important;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
}

#map-container {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

@keyframes custom-pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-pulse {
  animation: custom-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
